.login-form{
    display: flex;
    flex-direction: column;
}

.login-form > * {
    color: #2D8CFF;
    font-weight: 500;

}

.login-btn{
    color: yellow;
    background: var(--clr-purple);
    padding: 10px 0;
    margin-top: 20px;
}

