body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --clr-neutral-900: hsl(60, 100%, 50%);
  --clr-neutral-100: hsl(210, 100%, 88%);
  --clr-accent-400: hsl(321, 47%, 51%);
  --clr-purple: rgb(80,0,150);
}
